@font-face {
  font-family: fontGame;
  src: url("./assets/Pony.ttf");
}

.bg_game {
  font-family: fontGame;
}

.btn-style {
  padding: 40px;
  font-size: 40px;
  border-radius: 25px;
  border: none;
}

.img-style {
  width: 80px;
  height: 80px;
}

.title {
  font-size: 75px;
}

@media (max-width: 800px) {
  .btn-style {
    padding: 30px;
    font-size: 20px;
    border-radius: 15px;
  }

  .img-style {
    width: 60px;
    height: 60px;
  }

  .title {
    font-size: 60px;
  }
}
